/* app/globals.css */
@import "tailwindcss";


html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

@keyframes slowFloat {
  0%, 100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-15px) rotate(4deg);
  }
}

.animate-slow-float div {
  animation: slowFloat 10s ease-in-out infinite;
}

@keyframes shine {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-shine {
  background-size: 200% auto;
  animation: shine 3s linear infinite;
  mix-blend-mode: overlay;
}

@keyframes float-slow {
  0%, 100% { transform: translateY(0px) translateX(0px) rotate(0deg); }
  50% { transform: translateY(-15px) translateX(5px) rotate(2deg); }
}
@keyframes float-mid {
  0%, 100% { transform: translateY(0px) translateX(0px) rotate(0deg); }
  50% { transform: translateY(-25px) translateX(-5px) rotate(-3deg); }
}
@keyframes float-fast {
  0%, 100% { transform: translateY(0px) translateX(0px) rotate(0deg); }
  50% { transform: translateY(-35px) translateX(8px) rotate(4deg); }
}

.animate-float-slow {
  animation: float-slow 8s ease-in-out infinite;
}
.animate-float-mid {
  animation: float-mid 6s ease-in-out infinite;
}
.animate-float-fast {
  animation: float-fast 4s ease-in-out infinite;
}
